@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: white;
    color: black;
  }
  
  html.dark body {
    background-color: #292929d9;
    color: #f1f1f1;

    color:#c9ffda;
  }